:root {
  --main: #765fde;
  --background: #fffbf2;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  font-size: 14px;
}

h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.5px;
  font-size: 48px;
}
@font-face {
  font-family: 'Franklin';
  src: url(FranklinGothicCondensed.ttf) format('truetype');
}

.custom-shape-divider-bottom-1682432009 {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1682432009 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1682432009 .shape-fill {
  fill: #fffbf2;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-bottom-1682432009 svg {
    width: calc(100% + 1.3px);
    height: 150px;
  }
}

p,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: 'Franklin', sans-serif;
  background-color: var(--background);
  position: relative;
}

header {
  background: var(--main);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px 0 24px;
}

ul {
  list-style: none;
  display: none;
}

.openmobile {
  display: block;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  transition: 0.3s;
}

.mobile {
  display: block;
  color: var(--main);
  margin-right: 0;
  margin-bottom: 20px;
  font-size: 24px;
  transition: 0.3s;
}

li {
  color: white;
  display: inline;
  margin-right: 30px;
}

li:hover {
  text-decoration: underline;
  cursor: pointer;
}

a {
  text-decoration: none;
}

#logo {
  max-width: 100px;
  margin-left: -10px;
}

main {
  background-color: var(--main);
  color: white;
  margin-top: -1%;
  padding: 40px 40px 10px 40px;
  position: relative;
  overflow: hidden;
  height: 60vh;
}

h1 {
  font-weight: 300;
  font-size: 48px;
  line-height: 46px;
  max-width: 800px;
}

main button {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  background-color: white;
  border: none;
  font-size: 21px;
  padding: 7px 14px 7px 14px;
  color: var(--main);
  margin-top: 30px;
  transition: 0.3s;
}

main button:hover {
  background: none;
  border: 3px solid white;
  color: white;
  transition: 0.3s;
}

h2 {
  text-align: start;
  color: var(--main);
  margin-bottom: 10px;
}
#about-us {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  max-height: 400px;
  width: 100vw;
  padding: 0 20px 0 20px;
  margin-bottom: 80px;
}
#about-us-img {
  align-self: stretch;
  flex: 1;
  max-width: 40%;
  object-fit: cover;
}

#about-us-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
}

#about-us-column p {
  font-family: 'Poppins', sans-serif;

  font-weight: 300;

  padding: 0;
  margin: 0;
}

#services {
  padding: 100px 0 0 0;
}

h3 {
  text-align: start;
  color: var(--main);

  margin: auto auto 20px 20px;
}

.container-service-right,
.container-service-left {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 100vw;
  position: relative;
  margin-bottom: 40px;
}

.service-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: center;
  flex: 1;
}

.left-container,
.right-container {
  flex: 1;
  margin-left: 20px;
  margin-right: -20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.service-title {
  font-family: 'Franklin';
  font-weight: 200;
  font-size: 20px;
  letter-spacing: 1px;
  margin-bottom: 10px;
  overflow-wrap: normal;
  max-width: 40vw;
}

.service-desc {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 300;

  max-width: 150px;
}

#instasection {
  padding: 40px;
}

h4 {
  text-align: start;
  color: var(--main);

  margin-bottom: 20px;
}

h5 {
  text-align: center;
  color: black;

  margin-bottom: 40px;
  z-index: 100;
}

#contact {
  padding-top: 40px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--main);
  position: relative;
  background-color: var(--main);
}

#contact input,
textarea,
button {
  display: block;
  z-index: 100;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70vw;
}

input {
  margin-bottom: 1em;
}

textarea {
  margin-bottom: 1em;
  margin: none;
  padding: none;
}

input,
textarea {
  width: 100%;
  border: none;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.345);
  -webkit-box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.345);
  -webkit-appearance: none;
  appearance: none;
  font-family: 'Poppins', sans-serif;
  padding: 8px 0 8px 8px;
  font-weight: 600;
}

input::placeholder,
textarea::placeholder {
  color: rgba(0, 0, 0, 0.322);
  font-size: 16px;
}

form > button {
  background-color: white;
  color: var(--main);
  border: none;
  font-size: 16px;
  padding: 0.5em 1em 0.5em 1em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
  transition: 0.3s;
}
form > button:hover {
  background: none;
  border: 3px solid white;
  color: white;
  transition: 0.3s;
}
footer {
  background-color: var(--main);
  color: white;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  cursor: pointer;
  z-index: 200;
  position: relative;
}

.stripe {
  margin-bottom: 2px;
  background-color: white;
  height: 3px;
  border-radius: 2px;
  transition: 0.3s;
  z-index: 200;
}

.stripe1 {
  width: 30px;
  z-index: 200;
}

.open {
  transform: rotate(90deg);
  margin-bottom: 0px;
  background-color: red;
  z-index: 200;
}

.open2 {
  transform: rotate(-90deg);
  margin-bottom: 0px;
  background-color: red;
  z-index: 200;
}

.stripe2 {
  margin-left: 10px;
  width: 20px;
  z-index: 200;
}

#desktop-ul {
  display: none;
}

@media only screen and (min-width: 550px) {
  #desktop-ul {
    display: block;
  }

  #mobile-ul {
    display: none;
  }

  header {
    padding: 10px 60px 10px 60px;
  }

  ul {
    display: block;
  }

  .menu {
    display: none;
  }

  li {
    font-size: 18px;
  }
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }

  main button {
    margin-bottom: 10vh;
  }
  #about-us {
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    max-width: 50vw;
    margin: auto;
  }

  h3 {
    margin-top: 40px;
    text-align: center;
  }

  main {
    padding: 50px 40px 10px 80px;
  }
  #logo {
    max-width: 130px;
  }

  .mobile-services {
    display: none;
  }

  #about-us {
    padding-left: 100px;
    padding-right: 100px;
  }

  h2 {
    margin-bottom: 40px;
  }

  #about-us-column p {
    font-size: 18px;
  }

  .container-service-right,
  .container-service-left {
    margin: auto;
    height: 60vh;
  }

  .service-title {
    font-size: 28px;
    margin-top: 32px;
  }

  .service-desc {
    font-size: 18px;
    max-width: 30vw;
  }

  #instasection {
    padding-left: 200px;
    padding-right: 200px;
    margin-bottom: 100px;
    margin-top: 100px;
  }

  input,
  textarea {
    width: 500px;
    margin-bottom: 15px;
  }

  form > button {
    margin-bottom: 100px;
  }

  .container-service-right.hidden {
    transform: translateX(-500px);
  }

  .container-service-right.show {
    transform: translateX(0px);
  }

  .container-service-left.hidden {
    transform: translateX(500px);
  }

  .container-service-left.show {
    transform: translateX(0px);
  }
}

.hidden {
  opacity: 0;
  transition: all 0.5s;
}

.show {
  opacity: 1;
}

.container-service-right.hidden {
  transform: translateX(-100px);
}

.container-service-right.show {
  transform: translateX(0px);
}

.container-service-left.hidden {
  transform: translateX(100px);
}

.container-service-left.show {
  transform: translateX(0px);
}

.custom-shape-divider-top-1683218812 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1683218812 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 160px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1683218812 .shape-fill {
  fill: #fffbf2;
}

@media only screen and (max-width: 600px) {
  h2,
  h3,
  h4,
  h5 {
    font-size: 2em;
  }

  #about-us-column p {
    max-width: 90%;
  }
  #about-us-img {
    display: none;
  }

  .desktop-services {
    display: none;
  }

  .mobile-services > .container-service-right,
  .container-service-left {
    flex-direction: column;
    height: 100%;
  }

  .mobile-services img {
    max-height: 40vh;
  }

  .left-container,
  .right-container {
    margin: 50px auto 50px auto;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .service-title,
  .service-desc {
    width: 100%;
    text-align: center;
    max-width: 80vw;
  }

  .container-service-right,
  .container-service-left {
    margin-bottom: 0;
  }
}
